@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



* {
    margin: 0px;
    padding: 0px;
    --backg: #0c1d31;
    --backF: #132841c9;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--backg);
    background-image: linear-gradient(
        115deg,
        rgba(4, 39, 78, 0.8),
        rgba(5, 50, 102, 0.8)
      ),  url(https://images.tpn.to/je/pm/fr/fm/content.jpg);
    background-size: cover;
    color: #f8f8f8;
}

#header {
    padding-bottom: 10px;
    text-align: center;
}

#form {
    padding: 20px;
    background-color: var(--backF);
    border-radius: 4px;
    box-shadow: 0px 0px 5px #000000b0;
}

.container {
    padding-top: 20px;
    padding-bottom: 30px;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
}

#title {
    margin-bottom: 3px;
}


#form-group {
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    margin: auto;
}

label {
    display: block;
}

.subtitle {
    margin-bottom: 8px;
}

.options {
    font-size: 0.85em;
    margin-bottom: 3px;
    cursor: pointer;
    width: 200px;
}

.inline {
    margin-right: 12px;
    cursor: pointer;
}

.input-form {
    width: 100%;
    height: 35px;
    background-color: #eff2f5;
    border: 1px solid #eff2f5;
    color: rgb(102, 99, 99);
    font-size: 0.8em;
    padding-left: 5px;
    border-radius: 3px;
}

::placeholder {
    color: rgb(102, 99, 99);
}

#dropdown {
    width: 100%;
    height: 35px;
    background-color: #eff2f5;
    border: 1px solid #eff2f5;
    color: rgb(102, 99, 99);
    font-size: 0.75em;
    border-radius: 3px;
    font-size: 0.8em;
}

.optionselect {
    font-size: 0.9em;
}

#comments {
    width: 100%;
    height: 100px;
    padding-left: 5px;
    padding-top: 2px;
    background-color: #eff2f5;
    border: 1px solid #eff2f5;
    color: rgb(102, 99, 99);
    resize: vertical;
    border-radius: 3px;
}

#form-group-button {
    text-align: center;
}

#submit {
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #37af65;
    border: 1px solid #37af65;
    color: #f8f8f8;
    cursor: pointer;
    border-radius: 3px;
}

#submit:hover {
    background-color: #3db66b;
    border: 1px solid #3db66b;
}

